
div {
    height: 100px;
}
.title {
    text-align: center;
}

.hero {
    z-index: -1;
    height: 500px;
    div {
        height: 100%;
    }
}

.best-sites {
    height: 500px;
    div {
        height: 100%;
    }
}

.nominees {
    height: 500px;
}

.directory {
    height: 500px;
}

.resources {
    height: 500px;
}

header {
    background-color: #f4f7f6;
}

nav {
width: 100%;
z-index: 3;

}

.nav-item {
    
    margin: auto;
    background-color: #f4f7f6;

}

.menu-btn{
    height: 100%;
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}